<!DOCTYPE html>
<html>
<head>
	<title>System</title>
	<link rel="stylesheet/less" href="{{ STATIC_URL }}css/style.less">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
	<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}less.js"></script>
</head>
<body>
<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="/"> &nbsp; &nbsp; </a>
		<img src="{{ STATIC_URL }}img/logo.png" style="position:absolute; top:5px; left:10px; height:100px;">
		<ul class="nav">
			<li><a href="/">หน้าแรก</a></li>
			<li><a href="/add/">เพิ่มมัคคุเทศก์</a></li>
			<li><a href="/list/">ทะเบียนมัคคุเทศก์</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">ประวัติการเข้าชม <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/list/log">ดูทั้งหมด</a></li>
					<li><a href="/log">Import Log</a></li>
				</ul>
			</li>
			<li><a href="/export">Export</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Blacklist <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/blacklist">รายชื่อ</a></li>
					<li><a href="/blacklist/add">เพิ่มเข้า Blacklist</a></li>
					<li><a href="/blacklist/export">Export Blacklist</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
	<div id="content">
		<div class="container">
			{% block flash %}
			{% if notice %}
			<div class="flash notice">
				{{ notice }}
			</div>
			{% endif %}
			{% endblock %}

			{% block content %}

			{% endblock %}
		</div>
	</div>
	<footer>
		<div class="container">
			
		</div>
	</footer>
</body>
</html>
