<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet/less" href="{{ STATIC_URL }}style.less">
    <script src="{{ STATIC_URL }}less.js"></script>
</head>
<body>
    <header>
        <div class="wrapper">
            <span>System</span>
            <a href="/">Home</a>
            <a href="/add/">เพิ่มมัคคุเทศก์</a>
            <a href="/list/">ทะเบียนมัคคุเทศก์</a>
            <a href="/export">Export</a>
            <a href="/blacklist">Blacklist</a>
            <a href="/blacklist/add">Add Banned Person</a>
            <a href="/blacklist/export">Export Banned List</a>
        </div>
    </header>
    <div id="content">
        <div class="wrapper">
            {% block flash %}
            {% if notice %}
            <div class="flash notice">
                {{ notice }}
            </div>
            {% endif %}
            {% endblock %}

            {% block content %}

            {% endblock %}
        </div>
    </div>
    <footer>
        <div class="wrapper">
            Footer
        </div>
    </footer>
</body>
</html>
