{% extends "base.html" %}
 
{% block content %}
	<div class="panel right">
		<h1>Blacklist</h1>
		<form action="/blacklist/" method="get">
			<table>
				<tr><th>No</th><td><input type="text" name="no1" placeholder="No" value="{{ queries_list.no1 }}">-<input type="text" name="no2" placeholder="No" value="{{ queries_list.no2 }}"></td></tr>
				<tr><th>ชื่อจริง</th><td><input type="text" name="first_name" placeholder="" value="{{ queries_list.first_name }}"></td></tr>
				<tr><th>นามสกุล</th><td><input type="text" name="last_name" placeholder="" value="{{ queries_list.last_name }}"></td></tr>
				<tr><th></th><td><input class="btn btn-primary" type="submit" value="ค้นหา"></td></tr>
			</table>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th width="10%">เลขประจำตัว</th>
					<th width="50%">ชื่อ</th>
					<th width="30%">องค์กร</th>
					<th width="10%"></th>
				</tr>
			</thead>
			<tbody>
				{% for person in people %}
				<tr>
					<td>{{ person.name.no }}</td>
					<td><a href="{{ person.name.get_absolute_url }}"><strong>{{ person.name.first_name }} {{ person.name.last_name }}</strong></a></td>
					<td>{{ person.name.organization }}</td>
					<td><a href="{% url 'edit_person' person.name.no %}" title="แก้ไข"><i class="icon-edit"></i></a> <a href="{% url 'delete_person' person.name.no %}" title="ลบ"><i class="icon-trash"></i></a> <a href="{% url 'unban_person' person.name.no %}" title="เอาออกจาก Blacklist"><i class="icon-ok"></i></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
<div class="pagination">
	<span class="step-links">
		{% if people.has_previous %}
			<a href="?{{queries.urlencode}}&amp;p={{ people.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ people.number }} of {{ people.paginator.num_pages }}.
		</span>

		{% if people.has_next %}
			<a href="?{{queries.urlencode}}&amp;p={{ people.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>
{% endblock %}